

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General styles */
body {
  font-family: 'ADLaM Display', sans-serif;
  background-color: #F2F2F2; /* Light Gray */
  color: #1C1C1C; /* Black */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  color: #003F66; /* Dark Blue */
}

/* Links */
a {
  color: #001EFF; /* Royal Blue */
}

/* Buttons */
button {
  background-color: #FFC72C; /* Yellow */
  color: #1C1C1C; /* Black */
  border: none;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

button:hover {
  background-color: #FFD766; /* Light Yellow */
}

/* Login page styles */
.login-container {
  background-color: #FFFFFF; /* White */
  border: 2px solid #003F66; /* Dark Blue */
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #004F6D; /* Teal Blue */
}

.login-container input[type="submit"] {
  background-color: #004F6D; /* Teal Blue */
  color: #FFFFFF; /* White */
  border: none;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #003F66; /* Dark Blue */
}
